<h1>Om oss</h1>

<p>
  Vi är ett byggentreprenadföretag med hemort i Norrköping. KSBYGG AB har varit
  verksamma sedan 2004. Vi bedriver vår verksamhet i Östergötland med omnejd.
</p>

<p>
  Våra uppdrag varierar stort allt ifrån små reparationer till nybyggnation av hus till
  stora general- och totalentreprenader. Vi arbetar även direkt emot industrin där
  exempelvis E.on är en stor uppdragsgivare. Sedan 2008 har vi drift- och skötsel-
  ansvaret för E.on Fastigheter.
</p>

<p>
  Några av våra senaste byggprojekt är;
<ul>
  <li>Byggnation av kontor till Länsförsäkringar på Ingelsta Området</li>
  <li>Renovering av Coop i Nyköping</li>
  <li>Betongarbeten till ICA Maxi i Gnista, Uppsala</li>
</ul>
</p>

<p>
  Vårt stora projekt just nu är renovering av fastigheten på Nya Rådstugugatan där det
  ska bli hotell med 80 rum och restaurang.
</p>

<p>
  En av våra specialinriktningar är att bygga renrum till elektronikindustrin, högskolor
  och läkemedelsindustrin. Detta kan du läsa mer om under fliken Vi3.
</p>

<p>
  Utöver byggverksamheten arbetar vi även med uppdrag som Kvalitetsansvariga –
  K behörighet för kontroll av komplicerad art. Kurs har genomgåtts med inriktning
  på PBL, BVL och BKR. Vi åtar oss även mindre konstruktionsuppdrag.
</p>

<p>
  Vad beträffar vår affärside´, kvalite och miljö policy så finns den att läsa här.
</p>

<p>
  KSBYGG AB är ett litet företag men med ett stort engagemang där vi sätter kunden i centrum.
  KSBYGG står för nytänkande och arbetar mycket med att utarbeta nya tekniska lösningar för
  ett enklare och snabbare byggande.
</p>

<p>
  Vårt mål är att leverera rätt produkt i rätt tid för kundens bästa.
</p>
