<div class="page-header">
  <h1>
    Personal
  </h1>
</div>

<p>
  Nedan ser du kontaktuppgifter till oss, samt sammanställning över anställda.
</p>

<table class="table table-striped">
  <thead>
  <tr>
    <td >
      Företagsledning
    </td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>NAMN</td>
    <td>EPOST</td>
    <td>MOBILTELEFON</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Lars Lindström</td>
    <td>lars@ksbygg.se</td>
    <td>0709-66 00 82</td>
  </tr>
  <tr>
    <td>Mats Karlsson</td>
    <td>mats@ksbygg.se</td>
    <td>0708-12 41 30</td>
  </tr>
  <tr>
    <td>Krister Sühl</td>
    <td>krister@ksbygg.se</td>
    <td>0706-95 50 40</td>
  </tr>
  </tbody>
  <thead>
  <tr>
    <td>
      Administration
    </td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>NAMN</td>
    <td>EPOST</td>
    <td>MOBILTELEFON</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Lena Öberg</td>
    <td>lena@ksbygg.se</td>
    <td>011- 12 55 00</td>
  </tr>
  </tbody>
  <thead>
  <tr>
    <td>
      Projektledare
    </td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>NAMN</td>
    <td>EPOST</td>
    <td>MOBILTELEFON</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Dennis Johansson</td>
    <td>dennis@ksbygg.se</td>
    <td>0702-73 40 78</td>
  </tr>
  </tbody>
  <thead>
  <tr>
    <td>
      Anställda
    </td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>NAMN</td>
    <td>BEFATTNING</td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Kent Ainefors</td>
    <td>Snickare</td>
    <td></td>
  </tr>
  <tr>
    <td>Jacob Abrahamsson</td>
    <td>Snickare</td>
    <td></td>
  </tr>
  <tr>
    <td>Jimmy Abrahamsson</td>
    <td>Snickare</td>
    <td></td>
  </tr>
  <tr>
    <td>Stefan Axelsson</td>
    <td>Målare/Renrumsmontör</td>
    <td></td>
  </tr>
  <tr>
    <td>Stefan Bastholm</td>
    <td>Fastighetsskötare E.on</td>
    <td></td>
  </tr>
  <tr>
    <td>Per Hellbring</td>
    <td>Snickare</td>
    <td></td>
  </tr>
  <tr>
    <td>Peter Thuresson</td>
    <td>Snickare</td>
    <td></td>
  </tr>
  <tr>
    <td>Robin Samuelsson</td>
    <td>Diverse</td>
    <td></td>
  </tr>
  <tr>
    <td>Fredrik Hagbom</td>
    <td>Specialarbetare</td>
    <td></td>
  </tr>
  <tr>
    <td>Marcus Johansson</td>
    <td>Snickare</td>
    <td></td>
  </tr>
  <tr>
    <td>David Tengeborg</td>
    <td>Snickare under utbildning</td>
    <td></td>
  </tr>
  <tr>
    <td>Nicklas Lundgren</td>
    <td>Snickare under utbildning</td>
    <td></td>
  </tr>
  <tr>
    <td>Thommy Filén</td>
    <td> Snickare under utbildning</td>
    <td></td>
  </tr>
  <tr>
    <td>Andreas Karlsson</td>
    <td>Snickare under utbildning</td>
    <td></td>
  </tr>
  <tr>
    <td>Johan Lilja</td>
    <td>Snickare</td>
    <td></td>
  </tr>
  <tr>
    <td>Patrik Mattson</td>
    <td>Snickare</td>
    <td></td>
  </tr>
  <tr>
    <td>Christer Swartz</td>
    <td>Snickare</td>
    <td></td>
  </tr>
  <tr>
    <td>Jonatan Lindgren</td>
    <td>Snickare</td>
    <td></td>
  </tr>
  <tr>
    <td>Joakim Lundell</td>
    <td>Lärling</td>
    <td></td>
  </tr>
  </tbody>
</table>

<p>
  Mallen för att rapportera tid finner du <%= link_to 'här', '/Tidrapport_2013_09_09.xlsx' %>.
</p>

