<div class="page-header">
  <h1>Policy</h1>
</div>


<h2>Inledning</h2>

<p>
  Ksbygg AB kvalitets- och miljöledningssystem, som beskrivs nedan ansluter till SS-EN ISO 9001 och SS-EN ISO 14001.
  Detta är endast en kort sammanställning.
</p>

<h2>Verksamhetsområden</h2>

<p>
  Ksbygg bedriver komplett verksamhet inom områdena:
</p>

<div class="bs-callout bs-callout-attention">
  <ul>
    <li>Byggentreprenader</li>
    <li>Projekt- och byggledning</li>
    <li>Kvalitetsansvar enligt PBL</li>
  </ul>
</div>

<h2>Affärsidé för Ksbygg</h2>

<p>Vår affärsidé är att</p>

<div class="bs-callout bs-callout-attention">
  <ul>
    <li>vara det naturliga valet av lokal byggentreprenör.</li>
    <li>konkurrera med hög kvalitét på våra arbeten.</li>
    <li>ge den mest kundanpassade och prisvärda produkten för att stärka konkurrenskraften.</li>
    <li>aktivt medverka i utvecklingen av nya effektiva byggmetoder.</li>
  </ul>
</div>

<h2>Kvalitetspolicy</h2>

<p>
  Vår kvalitetspolicy innebär att Ksbygg ska vara med och följa riktlinjerna inom kvalitets-och miljöområdet i
  regionen för byggentreprenörer och att skall till fullo uppfylla kundens behov och förväntningar på varje uppdrag
  beträffande avtalat innehåll och leveranstid.
  Konkret innebär policyn att:

<div class="bs-callout bs-callout-attention">
  <ul>
    <li>ansvar för kvaliteten i våra produkter och tjänster tydligt tas i vår organisation och att kvaliteten ligger
      i
      nivå med den som kunden efterfrågar.
    </li>
    <li>samtliga leveranser och kundkontakter ska utföras på ett sätt som gör att varje uppdrag kan tjäna som en
      referens.
    </li>
    <li>vårt kvalitetsledningsystem omfattar alla affärsområden.</li>
    <li>systematisk egenkontroll och förbättring sker.</li>
  </ul>
</div>

<h2>Miljöpolicy</h2>

<p>
  Vår miljöpolicy innebär att vi ska ständigt verka för att vi själva och våra intressenter ges möjligheter att
  verka
  ekologiskt till skydd för livsmiljön på kort och lång sikt.
  Konkret innebär policyn att:

<div class="bs-callout bs-callout-attention">
  <ul>
    <li>producera produkter och tjänster som är resurssnåla och påverkar miljön positivt på kort och lång sikt.</li>
    <li>vi följer tillämplig miljölagstiftning och övriga krav.</li>
    <li>vi miljöanpassar verksamheten i alla led.</li>
    <li>vi strävar efter att våra kunders och samhällets förväntningar och krav på kretslopp- och miljöanpassning
      uppfylles.
    </li>
    <li>vi förser våra kunder med produkter och tjänster som hjälper dem att styra mot ett ekologiskt samhälle.</li>
  </ul>
</div>

<h2>Övrigt</h2>

<p>
  Som tidigare nämts är detta bara en sammanställning av KSBYGG AB kvalitets- och miljöledningssystem. För
  funderingar
  och frågar skicka epost till oss.
</p>

<p>
  För vidare läsning se följande <%= link_to 'PDF-fil', '/policy_doc.pdf' %>.
</p>

<p>

</p>

<div class="bs-callout bs-callout-warning">
  Du behöver ha en PDF-läsare installerad för att kunna läsa filen t.ex. Adobe Reader.
</div>
