<section class="carousel-section">
  <div id="carousel-ks-main" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-ks-main" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-ks-main" data-slide-to="1"></li>
      <li data-target="#carousel-ks-main" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag asset_path('Projekt_hotel.JPG'), alt: 'Slide 1' %>
        <div class="carousel-caption">
          <h3>Restaurang Stadsvakten nybyggnation 2014</h3>
          <p>Utifrån under ombyggnation.</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag asset_path('Restaurang_Stadsvakten_1.jpg'), alt: 'Slide 2' %>
        <div class="carousel-caption">
          <h3>Restaurang Stadsvakten nybyggnation 2014</h3>
        </div>
      </div>
      <div class="item">
        <%= image_tag asset_path('Restaurang_Stadsvakten_2.jpg'), alt: 'Slide 3' %>
        <div class="carousel-caption">
          <h3>Restaurang Stadsvakten nybyggnation 2014</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="lead-message">
  <div class="jumbotron hero-content">
    <div class="container">
      <h1>Vår plats på nätet</h1>

      <p><b>KSBYGG</b> är ett mindre byggentreprenadföretag som åtar sig varierande

        uppdrag så som villa- och garageombyggnader, nybyggnation av hus, kontors-
        renoveringar, stora general- och totalentreprenader. I dagsläger är vi cirka 30

        anställda.</p>

      <p>
        <%= link_to 'Lär dig mera', about_us_url, class: 'btn btn-primary btn-lg', role: 'button' %>
      </p>
    </div>
  </div>
</section>


