<footer id="page-footer">
  <div class="container">
    <div class="col-md-3">
      <h3>Ksbygg AB</h3>

      <p>
        Bangårdsgatan 5<br/>
        Box 174 601 03 Norrköping <br/>
        011-12 55 00<br/>
        <a href="mailto:info@ksbygg.se">info@ksbygg.se</a>
      </p>
    </div>
  </div>
</footer>